#work
  = @work.title
  - if @work.identity
    by
    = link_to @work.identity.name, @work.identity
#chapter
  = @work.chapters.first.content
- if @work.chaptered
  = link_to "Next chapter", work_chapter_path(@work, 2)
